.cash-withdraw-tip-wapper {
	margin-left: 24rpx;
	margin-right: 24rpx;
	margin-top: 49rpx;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.cash-withdraw-tip {
	font-size: 30rpx;
	color: rgba(145, 152, 173, 1);
}

.cash-withdraw-item-tip {
	font-size: 36rpx;
	color: rgba(255, 255, 255, 1);

	margin-left: 40rpx;
	margin-right: 40rpx;
	margin-top: 42rpx;
	margin-bottom: 28rpx;
}

.cash-withdraw-input-wapper {
	height: 101rpx;

	margin-left: 40rpx;
	margin-right: 20rpx;
	margin-bottom: 33rpx;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.cash-withdraw-input {
	font-size: 26rpx;
	color: white;
}

.cash-withdraw-input-placeholder {
	font-size: 26rpx;
	color: rgba(145, 152, 173, 1);
}

.cash-withdraw-rollout {
	font-size: 26rpx;
	color: rgba(23, 96, 255, 1);
}

.cash-withdraw-content-wapper {
	margin-left: 40rpx;
	margin-right: 20rpx;
	margin-top: 7rpx;
	margin-bottom: 39rpx;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.cash-withdraw-content {
	font-size: 30rpx;
	color: rgba(255, 255, 255, 1);
}

.cash-withdraw-confirm {
	font-size: 30rpx;
	height: 98rpx;
	color: rgba(255, 255, 255, 1);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	
	/* margin-top: 500rpx;
	margin-bottom: 95rpx;
	margin-left: 24rpx;
	margin-right: 24rpx; */

	border-radius: 15rpx;
	background-color: rgba(23, 96, 255, 1);
	position: fixed;
	/* top: 798rpx;
	width: 702rpx; */
	left: 24rpx;
	right: 24rpx;
	
}
