.home-title-bar {
	height: 88rpx;
	background-color: rgba(255, 255, 255, 1); 
 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1500;

	padding-top: var(--status-bar-height);
	padding-left: 32rpx;
	padding-right: 39rpx;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.home-title-bar-row {
	display: flex;
	flex-direction: row;
}

.home-title-bar-logo {
	font-size: 40rpx;
	color: rgba(51, 51, 51, 1);
}

.home-title-bar-add {
	width: 56rpx;
	height: 56rpx;
}

.home-title-bar-search {
	margin-left: 37rpx;
	width: 452rpx;
	height: 64rpx;
	background-color: rgba(247, 246, 245, 1);

	border-radius: 16rpx;

	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.home-title-bar-search-icon {
	width: 32rpx;
	height: 32rpx;
	margin-right: 16rpx;
	margin-left: 16rpx;
}

.home-title-bar-search-input {
	width: 78%;
	font-size: 28rpx;
	color: rgba(51, 51, 51, 1);
}

.home-title-bar-search-input-placeholder {
	font-size: 28rpx;
	color: rgba(153, 153, 153, 1);
}
