.info-image {
 	width: 100%;
 	height: 184rpx; 
	vertical-align: bottom;
 }

 .info-row { 
 	background-color: #FFFFFF;

 	padding-left: 32rpx;
 	padding-right: 32rpx;
 	padding-bottom: 56rpx; 

 	display: flex;
 	flex-direction: row; 
 }

 .info-row-tip {
 	font-size: 28rpx;
 	color: rgba(50, 50, 50, 1);
 }

 .info-row-content {
 	font-size: 28rpx;
 	color: rgba(153, 153, 153, 1);

 	margin-left: 16rpx;
 	width: 89%; 
 }
