.list-content {
	width: 100%;
	margin-top: 402rpx;
	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.tab-bar {
	width: 100%;
	height: 88rpx;

	background-color: #FFFFFF;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	 
	position: relative;
	z-index: 1500;
}

.tab-bar-sticky {
	position: fixed;
	top: calc(var(--status-bar-height) + 128rpx);
}

.tab-bar-title {
	color: rgba(153, 153, 153, 1);
	font-size: 28rpx;

	padding: 10rpx 0rpx 10rpx 0rpx;
	text-align: center; 
	width: 180rpx; 
}

.tab-bar-title-select {
	color: rgba(50, 50, 50, 1);
	font-weight: bold;
	font-size: 32rpx; 
}

.tab-bar-indicator-mask {
	width: 180rpx; 
	height: 6rpx; 
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	 
	position: absolute;
	bottom: 0;  
}

.tab-bar-indicator {
	width: 32rpx; 
	height: 6rpx;
	border-radius: 6rpx; 
}

.shopping-cart {
	width: 168rpx;
	height: 168rpx;
	
	position: fixed;
	right: 32rpx;
	bottom: 48rpx;
	z-index: 2000; 
}

.shopping-cart-image {
	width: 100%;
	height: 100%;
}

.shopping-cart-number {
	padding: 4rpx 13rpx 1rpx 13rpx;
	
	min-width: 22rpx;
	height: 40rpx;
	font-size: 24rpx;
	color: rgba(255, 255, 255, 1);
	
	position: absolute;
	right: 24rpx;
	top: 14rpx;
	background-color: rgba(235, 102, 91, 1);
	/* border-radius: 40% 40% 40% 40%; */
	border-radius: 40rpx;
	text-align: center; 
}