/* 没有银行卡时添加银行卡布局样式 */
.noCard_addCard_wrapper {
	margin: 32rpx 32rpx 0rpx 32rpx;
	height:264rpx;
	background:rgba(247,246,245,1);
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.noCard_plus {
	width:80rpx;
	height:80rpx;
	background:rgba(235,102,91,1);
	border-radius:50%;
	font-size: 80rpx;
	line-height: 70rpx; /* 靠这个让+号居中 */
	text-align: center;
	color: #F7F6F5;
}

.noCard_text {
	margin-top: 24rpx;
	height:45rpx;
	font-size:32rpx;
	font-weight:bold;
	line-height:45rpx;
	color:rgba(50,50,50,1);
}

/* 银行卡列表 */
.list_item_wrapper{
	
	margin-left: 32rpx;
	margin-right: 32rpx;
	margin-top: 32rpx;
	height:268rpx;
	/* background:linear-gradient(313deg,rgba(235,102,91,1) 0%,rgba(246,76,95,1) 100%);
 */	
	position: relative;

}

.list_bg_wrapper {
	position: absolute;
	width: 100%;
	height:268rpx;
	/* background:linear-gradient(313deg,rgba(235,102,91,1) 0%,rgba(246,76,95,1) 100%); */
	
}

.list_bg {
	width: 100%;
	height:268rpx;
	box-shadow:0rpx 8rpx 16rpx rgba(0,0,0,0.16);
	border-radius:16rpx;
}

.card_info_wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
}

.bank_logo {
	margin-left: 32rpx;
	margin-top: 49rpx;
	height: 56rpx;
	width: 56rpx;
}

.crad_info_right {
	margin-top: 32rpx;
	margin-left: 16rpx;
}

.bank_name_text {
	height:45rpx;
	font-size:32rpx;
	font-weight:bold;
	line-height:45rpx;
	color:rgba(255,255,255,1);
}

.card_type_text {
	margin-top: 8rpx;
	height:37rpx;
	font-size:26rpx;
	line-height:37rpx;
	color:rgba(255,255,255,1);
}

.card_no {
	position: relative;
	margin: 24rpx 0rpx 0rpx 101rpx;
	height:56rpx;
	font-size:40rpx;
	font-weight:bold;
	line-height:40rpx;
	color:rgba(255,255,255,1);
}

.addCard_wrapper {
	margin-left: 32rpx;
	margin-right: 32rpx;
	margin-top: 120rpx;
	height:96rpx;
	background:rgba(247,246,245,1);
	border-radius:8rpx;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.addCard_plus {
	height: 48rpx;
	line-height: 40rpx;
	font-size: 80rpx;
	text-align: center;
	color: #EB665B;
}

.addCard_text {
	margin-left: 32rpx;
	height:96rpx;
	font-size:32rpx;
	line-height:96rpx;
	text-align: center;
	color:rgba(153,153,153,1);
}