.coin-header-wapper {
	margin-left: 24rpx;
	margin-right: 24rpx;

	display: flex;
	flex-direction: column;
}

.coin-header-content-wapper {
	width: 100%;

	display: flex;
	flex-direction: column;

	margin-top: 40rpx;
	border-radius: 15rpx;

	background-image: url(../../../static/images/gold_background@3x.png);
	background-size: 100% 100%;
}

.coin-header-content-tip {
	font-size: 30rpx;
	color: rgba(255, 255, 255, 1);

	margin-left: 49rpx;
	margin-right: 49rpx;
	margin-top: 38rpx;
}

.coin-header-content {
	font-size: 60rpx;
	color: rgba(255, 255, 255, 1);

	margin-left: 49rpx;
	margin-right: 49rpx;
	margin-top: 40rpx;
	margin-bottom: 40rpx;
}

.coin-header-item-content-wapper {
	margin-top: 52rpx;
	margin-bottom: 82rpx;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.coin-header-item-wapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;

	padding-left: 48rpx;
	padding-right: 48rpx;
}

.coin-header-item {
	font-size: 30rpx;
	color: rgba(255, 255, 255, 1);

	margin-left: 22rpx;
}

.coin-header-item-image {
	width: 46rpx;
	height: 46rpx;
}

.coin-header-item-line {
	width: 2rpx;
	height: 46rpx;
	background-color: rgba(255, 255, 255, 0.2);
}
