/* tab */ 
.tab-bar {
	width: 100%; 
	position: absolute;
	top: 0;
	left: 0;
	right: 0; 
	z-index: 1;
	height: 88rpx;

	background-color: #FFFFFF;    
	border-bottom: solid 16rpx rgba(247, 246, 245, 1);

	display: flex;
	flex-direction: row; 
	align-items: center;
	align-content: center;  
}

.tab-bar-title {
	color: rgba(153, 153, 153, 1);
	font-size: 28rpx;

	padding: 10rpx 0rpx 10rpx 0rpx;
	text-align: center; 
	width: 33.3333333%;   
}

.tab-bar-title-select {
	color: rgba(50, 50, 50, 1);
	font-weight: bold;
	font-size: 32rpx; 
}

.tab-bar-indicator-mask {
	width: 20%; 
	height: 6rpx; 
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	 
	position: absolute;
	bottom: 0;  
}

.tab-bar-indicator {
	width: 32rpx; 
	height: 6rpx;
	border-radius: 6rpx; 
} 

.order-list {
	position: absolute;
	top: 104rpx;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
	z-index: 0; 
	
	background-color: rgba(255, 255, 255, 1);
}

/* 订单cell */ 
.order-cell {
	background-color: rgba(255, 255, 255, 1); 
	border-bottom: solid 16rpx rgba(247, 246, 245, 1);
	padding-left: 32rpx;
	padding-right: 32rpx;
	padding-bottom: 40rpx;  
}

.order-cell-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.order-cell-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: center;
	
	height: 128rpx; 
}

.order-cell-header-status {
	font-size: 28rpx;
	color: rgba(153, 153, 153, 1);   
}

.order-cell-header-icon {
	width: 40rpx;
	height: 40rpx;
}

.order-cell-header-name {
	font-size: 32rpx;
	color: rgba(50, 50, 50, 1);   
	margin-left: 16rpx;
}

.order-cell-action {
	height: 56rpx; 
	width: 172rpx;
	border-radius: 28rpx;
	
	background-color: rgba(255, 255, 255, 1);
	border: solid 1rpx rgba(153, 153, 153, 1);
	
	font-size: 28rpx;
	color: rgba(153, 153, 153, 1);   
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.order-cell-action-hightlight {  
	height: 56rpx; 
	width: 172rpx;
	border-radius: 28rpx;
	
	background-color: rgba(255, 255, 255, 1);
	border: solid 1rpx rgba(235, 102, 91, 1);
	
	font-size: 28rpx;
	color: rgba(235, 102, 91, 1);   
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
} 

.order-cell-product-count {
	font-size: 24rpx;
	color: rgba(153, 153, 153, 1);   
}

.order-cell-payment {
	font-size: 24rpx;
	color: rgba(50, 50, 50, 1);   
}

.order-cell-price {
	font-size: 28rpx;
	color: rgba(50, 50, 50, 1);   
}